* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#right_wheel {
    animation: wheel 3s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}
#left_wheel {
    animation: wheel 3s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#man_bike{
    animation: bike 2s ease-in-out infinite alternate;
}
@keyframes bike{
    from{
        transform: rotateX(0deg)
    }
    to{
        transform: rotateX(5deg);
    }
}
#plant1, #plant3, #plant2, #plant4{
    animation: plant 3s ease-in-out infinite alternate;
} 
@keyframes plant {
    from {
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(10deg);
    }
}
/* #music{

} */
/* //////////გიორგი, მუსიკის div როგორ გaვალამაზო? ///////// */